@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
    overflow: hidden;
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    min-width: 0;
}
